section{
    position:relative;
    margin-top:0px;
    width:100%;
    height:100%;
    .background{
        height:100%;
        img{
            width:100%;
            filter:brightness(60%);
        }
    }
}
.content{
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    z-index:3 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    
}

.title h1{
    font-size: 3rem;
    letter-spacing: 0.2rem;
}
.title p{
    text-align: center;
    padding: 0 30vw;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.search{
    display: flex;
    background-color: aliceblue;
    padding:0.5rem;
    border-radius: 0.5rem;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 1.5rem;

}
.title{
    color:rgb(48, 28, 200);

}
label{
    font-size: 1.1rem;
    color:#03045e;
    font-weight: bolder;
}
input{
    background-color:transparent;
    border:none;
    text-align: center;
    color:black;
    &[type="date"]{
        padding-left: 3rem;
    }
    &::placeholder{
        color:black;
    }&:focus{
        outline:none;
    }
}

#bt{
    padding: 0.9rem;
    cursor:pointer;
    border-radius: 0.3rem;
    border:none;
    background-color: rgb(91, 91, 203);
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color: blue;
    }
}
@media screen and (min-width: 280px) and (max-width: 980px) {
    
    .background {
      background-color: palegreen;
      img {
        height: 100%;
      }
    }
    .content {
      .title {
        h1 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
          padding: 1vw;
        }
      }
      .search {
        flex-direction: column;
        padding: 0.8rem;
        gap: 0.8rem;
        /* padding: 0; */
        .container {
          padding: 0 0.8rem;
          input[type="date"] {
            padding-left: 1rem;
          }
        }
        button {
          padding: 1rem;
          font-size: 1rem;
        }
        /* display: none; */
      }
    }
  
#pl{
    background-color:rgb(211, 122, 211);
    width:100%;
    color:white;
    padding-right: 0.001px;
}
.pk{
    flex-wrap: nowrap;
    text-overflow: hidden;
    text-transform: uppercase;
    padding-right: 2px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    color:rgb(205, 165, 205);
    line-break: 10px;
    max-lines: 1;
    line-clamp: 4;
    width:700px
    
}
.content{
    margin-top: 0.1px;
    padding-top: -10%;
}
.pk p{
display: none;
flex-wrap: wrap;
}
.brand{
    background-color: grey;
}
}
